
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono&family=Ubuntu:wght@300&display=swap');

#content {
    font-size: 22px;
    font-family: Roboto;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(142, 137, 137);
    font-family: Ubuntu;
}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(142, 137, 137);
    padding: 75px;
    font-size: 30px;
    
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 150px;
    border-radius: 15%;
    padding: 10px;
}
#home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.home-text1 {
    margin-left: 15px;
    margin-top: 35px;
}
.home-img1 {
    margin-top: 55px;
    margin-left: 350px;
    width: 100%;
}
.home-img2 {
    grid-column: 1/2;
}
.home-text2 {
    grid-row: 2/3;
    grid-column: 3/4;
    margin-left: -900px;
}
footer {
    background-color:  rgb(142, 137, 137);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-family: Ubuntu;
    font-size: 22px;
    margin-top: 35px;
}
footer a {
    padding: 10px;
}
footer img {
    width: 80px;
}

/* Education & Professional Experience */ 
/*  */ 
/*  */ 
/*  */ 
/*  */ 
.edu_exp_text1  {
    text-align: justify;
}
.edu_exp_text1 .summary {
    margin-bottom: 50px;
}
.edu_exp_text1 h1, h2  {
    background-color: black;
    font:white;
    text-align: center;
    color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    
}
.edu_exp_text1 .summary, h3 {
    margin-left: 35px;
    text-align: center;
}
.edu_exp_img1 {
    margin-top: 25px;
    margin-left: 100px;
    
}
.edu_exp_img2 {
    grid-column: 1/2;
}
.edu_exp_text2 {
    grid-row: 1/2;
    grid-column: 3/4;
    margin-left: -900px;
}
.edu_exp_img1 h2 {
    background-color: black;
    width: 75%;
    text-align: center;
    color: white;
    margin-left: 70px;
    border-radius: 10px;
}
/*  */ 
/*  */ 
/*  */ 
/*  */ 
/* Deploying Artificial Intelligence */
